$primary-color: #0f171e;
$secondary-color: #1a242f;
$font-primary: #fff;
$font-secondary: #79b8f3;
$light-mode__color: #dde2e3;
$light-mode__font: #3f4234;
$light-secondary__font: #254e7a;
$light-card: #608fbb;
$default-color: #000;
